<% include inc/head %>
<link rel="stylesheet" href="/resource/css_root/details.css"/>
<% include inc/nav %>
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <div id="blog_show">
                    <h1 id="blog_title"><%-title%></h1>
                    <div id="blog_content">
                        <%-content%>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<% include inc/footer %>
<script src="/resource/js/script.js"></script>
</body>
</html>
