<% include inc/head %>
<link rel="stylesheet" href="/resource/summer/summernote.css"/>
	<title>后台首页</title>
    <% include inc/top %>
<% include inc/slideBar %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                分类
                <small>添加</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 分类</a></li>
                <li class="active">添加</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container">
                    <div id="add_cate_panel"></div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <% include inc/footer %>
</div><!-- ./wrapper -->
<script src="/resource/summer/summernote.min.js"></script>
<script type="text/jsx" src="/resource/js_root/admin/category_add.js"></script>
</body>

</html>