<% include inc/head %>
<link rel="stylesheet" href="/resource/summer/summernote.css"/>
	<title>后台首页</title>
  </head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <% include inc/top %>
<% include inc/slideBar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                分类
                <small>添加</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 分类</a></li>
                <li class="active">添加</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="form-group">
                    <label for="">
                        名称
                    </label>
                    <input class="form-control" type="text"/>
                </div>
            </div>
            <div style="clear:both">
                </div>
            <div class="ant-form-item">
                <div class="col-6">  &nbsp;</div>
                <div class="col-14">
                    <button class="btn btn-primary" id="blog_add_btn">添加</button>
                </div>

            </div>
            <div id="blog_date"></div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <% include inc/footer %>
</div><!-- ./wrapper -->
<script src="/resource/summer/summernote.min.js"></script>

  </body>
  <!-- 直接调用全局变量 -->
  <script type="text/jsx" src="/resource/js_root/admin/blog_add.js"></script>
</html>